@charset "UTF-8";
/* ******************************************************************
	--home.css--
****************************************************************** */
html, body {
	-webkit-font-smoothing: antialiased;
}
body {
	cursor: default;
	font-size: 14px;
	font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 22px;
	overflow-x: hidden;
	background: #fff;
}
a:hover {
	cursor: pointer;
	color: #4b9331;
}
a:focus {
	outline: none;
}
img, object, embed {
	height: auto;
}
object, embed {
	height: 100%
}
img {
	-ms-interpolation-mode: bicubic;
	display: inline-block;
}
textarea {
	height: auto;
	min-height: 50px;
	resize: none;
	outline: none;
}
select {
	width: 100%;
	outline: none;
}
::selection {
    color: #FFF;
    background-color: #be030c;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	outline: none;
}
input, radio{
	outline: none;
}
input:focus, textarea:focus, select:focus {
	outline-offset: 0px !important;
	outline: none !important;
}
.clear{
	clear: both;
}
.hienthi{
	display: block;
}
.an{
	display: none;
}
.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #76b800;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	transform: scaleX(1);
}
.button_send.hvr-sweep-to-right:before, .button_send.hvr-sweep-to-right:hover:before, .button_send.hvr-sweep-to-right:focus:before, .button_send.hvr-sweep-to-right:active:before{
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.button_cancel.hvr-sweep-to-right:before{
	background: #a09e9e;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*********************************body****************************/
.bg5 {
	padding-bottom: 100px;	
}
.section {
	position: relative;
	display: block;
	width: 100%;
}
.parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: 100%;
}
.bg5, .wrapper{
	background: #f5f6f6;
}
.slide_magazine_ct, .camon_label, .slide_magazine_ct_cont, .slide_magazine_ct, .slide_magazine_ct_cont_row, .slide_magazine_e, .slide_magazine_ct_form, .slide_magazine_ct_form_row,
.error, .slide_magazine_ct_form_row_right input, .label_error, .slide_magazine_ct_form_row_right button, .logo_appkanji, .slide_magazine_ct_cont_label, .slide_magazine_ct_footer{
	float: left;
	display: block;
	width: 100%;
}
.wrapper .static.bg5{
	height: 100vh;
}
.logo_appkanji {
    margin-top: 100px;
    text-align: center;
}
.slide_magazine_ct_cont_label{
	color: #4fad4f;
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.slide_magazine_ct {
    margin-top: 30px;
    padding: 50px 80px;
	background: #fff;
    -webkit-box-shadow: 2px 3px 5px 1px #c5c5c5;
    -moz-box-shadow: 2px 3px 5px 1px #c5c5c5;
    box-shadow: 2px 3px 5px 1px #c5c5c5;
}
.slide_magazine_ct_footer {
    margin-top: 30px;
    color: #898989;
    font-size: 14px;
    line-height: 22px;
}
.slide_magazine_ct_form_row_right{
	margin: 0 auto;
	width: 50%;
}
.slide_magazine_ct_form_row_right a {
    background: #4b9331;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px solid #4b9331;
    line-height: 32px;
    padding: 0px;
    height: 32px;
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	margin-top: 30px;
}
.slide_magazine_ct_form_row_right a{
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.slide_magazine_ct_form_row_right a:hover{
	text-decoration: none;
}